{% include header.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <p><a href="/documents/UpcomingEvents.pdf">Click here to view upcoming events!</a></p>

    <h1>Welcome</h1>
    <p>The Shell Piano Studio offers both private and group lessons to students of all ages and abilities in the Northwood, Iowa area. </p>
    <p>It is my desire to not only teach my students to play the piano and to read music, but first and foremost to develop a lifelong love of music. After all, according to Johann Sebastian Bach, <blockquote>“The aim and final end of all music should be none other than the glory of God and the refreshment of the soul.”</blockquote><br> 
    <p>I want my soul refreshed forever, don’t you?</p>

    <h2>General Information</h2>

    <p><strong>Private Piano Lessons</strong> are offered weekly in 30 minute sessions for students ages 5-105 of all abilities. Practicing is highly encouraged for students to gain the most out of our weekly lessons. Also students taking private lessons should already have or be willing in the near future to acquire a suitable instrument to learn on.</p>
    <p><strong>Group Piano Lessons</strong> are offered for students who are looking to explore the keyboard in a fun group environment. No instrument? No time to actually practice? No problem! We can still make progress by meeting each week and jumping in together. These lessons are perfect for that person who wants to try it out, or perhaps just is looking for a low key alternative to traditional lessons. Classes available for beginners of all ages.</p>
    <p><a href="/documents/GroupPianoDescription.pdf">Click here to learn more about group piano lessons!</a></p>
    <p><strong>Little Keys Group Lessons</strong> are offered weekly for children ages 3-6. This is a beginning music maker class. We’ll learn about the keyboard, and take our time learning concepts while having a ball!</p>
    <p><strong>Savvy Seniors Group Lessons</strong> are offered for those folks who would like to either brush up on skills they used to have or acquire new skills along with a friend or two. No pressure, No recitals, just fun.</p>
    <br>
    <p>Adventure and Blast Off Group lessons run at the Northwood Community Center</p>

    <h2>Policy</h2>

    <p>Students are expected to arrive for lessons on time with all their materials and music. Parents and siblings may sit in the waiting area, wait in their vehicle in the driveway, or run errands so long as they return to pick up their student in a timely fashion.</p>
    <p>Make up lessons are offered on a <u>very</u> limited basis for those who need to miss based on weather, illness, travel, etc. and only as my schedule allows.</p>
    <p><strong>Discontinuing lessons: </strong> Sometimes it just doesn’t work to keep taking lessons. Hopefully there is much thoughtfulness and discussion going into this. Please give a 30 day notice prior to discontinuing lessons. </p>
    <p><strong>Communication: </strong> best way to contact me is via email. Feel free to message me (Facebook) text, or I will take phone calls between the hours of 10 a.m. - 1 p.m. </p>
    <p><strong>Tuition/Fees: </strong> Tuition is due on the first lesson of the month. Payment not made by 10th of the month will result in a $15 late fee. I may be paid either with cash or check or Paypal (music2shells@gmail.com) </p>
    <p>All group rates are $60/month Aug - May  or  $300 per term</p>
    <p>Private rates are $60/month</p> 
    <p>Group students may take private lessons through summer for June and July if they would like.</p>

    <p><strong>Materials: </strong> Students will have a method book as well as a binder of current fun pieces, technical exercises, theory pages, etc that they need to bring with to lessons each week. The teacher will supply books and print materials for students and provide a binder. <br>**There is an annual $25 materials fee </p>
  
    <h2>Weekly Schedule</h2>

    <p><strong> Private Lesson </strong> 30 minutes once per week (45 total lessons throughout the year)</p>
    <p><strong> Little Keys Group </strong> Monday 2:00 - 2:45 or Thursdays 10:00 - 10:45 (15 weeks fall/15 spring)</p>
    <p><strong> Adventure Group </strong> Tuesday 4:00 - 4:45 (15 weeks fall / 15 weeks spring)</p>
    <p><strong> Blast Off Group </strong> Tuesday 7:00 - 7:45 (15 weeks fall / 15 weeks spring)</p>
    <p><strong> Savvy Seniors Group </strong> Tuesday 7:00 - 7:45 (15 weeks fall / 15 weeks spring)</p>

    <p>There will be a few weeks through the year that I do not teach (holidays, vacation, etc). Your tuition covers 45 weeks of private lessons annually or 30 weeks of group lessons, which allows for this.</p> 


    {% include bio.html %}

    <h2>Testimonials</h2>

    <blockquote>
    "Jodi was my piano teacher for 11 years, from second grade all the way to my graduation from high school. Jodi has the talents to know what music a student likes to play which yields excitement to learn how to play. Her passion and intellect of classics and the history of piano playing grows a student’s mind beyond the music we are learning. After learning from Jodi, I can sit down at the piano and play a wide variety of music, from classical to today’s top hits, all thanks to Mrs. Shell!"
    ~ David
    </blockquote>
    <br>

    <blockquote>
    "Two of my three children had taken piano lessons from a previous teacher.  Jodi was able to identify where their level was and sparked a desire in them to want to play the piano more.  Practicing no longer felt like practicing but having fun making music and learning new songs in the process.  She has allowed all my children to learn at their own pace and each child has shown tremendous growth over the last year.  She has a true gift of teaching and this has allowed her to share her passion for piano and music with others."
    ~ Sarah
    </blockquote>
    <br>

    <blockquote>
      "My girls have taken lessons with Jodi for about 6 years.  They have always enjoyed her teaching and she has been able to adjust to their individual learning styles.  Her lessons are a valuable part of their education."
      ~ Becky
    </blockquote>
    <br>
    
    <blockquote>
      "Jodi was my daughter’s first piano teacher. At first my daughter was very unsure of herself and her ability to actually learn to play the piano, but within about 2 lessons with Jodi, her confidence soared!! She has not slowed down since."
      ~ Sheri
    </blockquote>
    <br>

    <h2>Contact</h2>

    <ul>
    <li>Phone: 308-225-1668</li>
    <li>Email: <a href="mailto:music2shells@gmail.com" target="_top">music2shells@gmail.com</a></li>
    <li>Facebook Messenger: <a href="https://facebook.com/jodi.shell">jodi.shell</a></li>
    </ul>
    
    <h1>Upcoming Events</h1>

    <p><a href="/documents/UpcomingEvents.pdf">Click here to view upcoming events!</a></p>

    </section>

	{{ content }}

{% include footer.html %}